@use './variables' as *;
@use './typography' as *;
@use './mixins' as *;


body {
    margin: $no-margin;
    padding: $no-padding;
}


%nav-list {
    text-decoration: none;
    list-style: none;
    margin: $no-margin;
    padding: $no-padding;
}

%band-site-logo {
    @include subheader-text;
    @include no-margin-padding;
}

%link {
    text-decoration: none;
    color: inherit;
}