@use './variables' as *;
@use './typography' as *;
@use './mixins' as *;


%nav-list {
    text-decoration: none;
    list-style: none;
    margin: $no-margin;
    padding: $no-padding;
}

%band-site-logo {
    @include no-margin-padding;
    @include subheader-text;
    font-weight: 100;
}

%link {
    text-decoration: none;
    color: inherit;
}

%site-copy-right {
    @include body-text;
}

%labels {
    @include m-labels-buttons-bold-text;
    color: $primary-silver;

    @include tablet-and-desktop {
        @include labels-buttons-bold-text;
    }
}

%input-control {
    @include m-body-text;
    border-radius: $margin-quarter;
    border: $input-text-boarder-thickness $input-text-boarder-style $primary-silver;
    background-color: $secondary-alabaster;

    @include tablet-and-desktop {
        @include body-text;
    }

    &:focus {
        border-color: $secondary-dark-black;
    }

    &::placeholder {
        color: $secondary-dark-black;
    }
}

%button {
    @include m-body-bold-text;
    border: none;
    border-radius: $margin-quarter;
    background-color: $primary-black;
    color: $primary-white;

    @include tablet-and-desktop {
        @include body-bold-text;
    }

    &:hover {
        background-color: $secondary-dark-black;
    }

}

body {
    margin: $no-margin;
    padding: $no-padding;
}

.link {
    @extend %link;
}

.horizontal-line {
    width: 100%;
    border-bottom: $horizontal-line-thickness $horizontal-line-style $primary-silver;
}

.header {
    background-color: $primary-black;
    color: $primary-white;
    overflow: hidden;
}

.nav {
    display: block;

    @include tablet {
        display: flex;
        align-items: center;
    }

    @include desktop {
        display: flex;
        align-items: center;
    }

    &__title {
        @extend %band-site-logo;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-top: $m-headline-margin-before;
           
        
        @include tablet-and-desktop {
            margin: auto 0;
            margin-right: $margin-three-half;
            display: block;
        }

        @include tablet {
            margin-left: $t-margin-side-offset;
        }
        
        @include desktop {
            margin-left: $margin-side-offset;
        }
    }

    &__list {
        @extend %nav-list;
        @include body-text;
        display:  flex;
        justify-content: space-between;
    }

    &__list-item {
        @include body-text;
        @include nav-boarder;
        text-align: center;
        padding-top: $padding-half;
        padding-bottom: $m-headline-margin-after;
        margin: 0;
        flex-grow: 1;

        @include tablet-and-desktop {
            padding-top: $nav-item-top-margin;
            padding-bottom: $headline-padding-after;
            margin: auto $margin-one;
        }

        &:hover {
            @include body-text;
            border-color: $primary-white;
            color: $primary-white;
        }
    }

    &__list-item--active {
        @include body-bold-text;
        border-color: $primary-white;
    }

    &__list-item--inactive {
        color: $secondary-mercury;
    }

    &__link {
        @extend %link;
    }
}

.hero {
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;

    &__image {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-black;
        opacity: 50%;
        z-index: 1;
    }

    &__title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        color: $primary-white;
        left: $m-margin-side-offset;
        @include no-margin-padding;
        @include m-section-header-text;

        @include tablet {
            left: $t-margin-side-offset;
        }

        @include tablet-and-desktop {
            @include page-header-text;
        }
        
        @include desktop {
            left: $margin-side-offset;
        }
    }
}

.contact {
    background-color: $primary-black;
    color: $primary-white;
    overflow: hidden;

    &__margin-container {
        margin-left: $m-margin-side-offset;
        margin-right: $m-margin-side-offset;
        
        @include tablet {
            margin-left: $t-margin-side-offset;
            margin-right: $t-margin-side-offset;
        }

        @include desktop {
            margin-left: $margin-side-offset;
            margin-right: $margin-side-offset;            
        }
    }

    &__media-header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: start;
        margin-top: $m-headline-margin-before;
        margin-bottom: $m-headline-margin-after;

        @include tablet-and-desktop {
            flex-direction: row;
            align-items: center;
            margin-top: $headline-margin-before;
            margin-bottom: $headline-margin-after;
        }
    }

    &__title {
        @include m-section-header-text;
        display: block;
        margin: $no-margin;
        
        @include tablet-and-desktop {
            @include section-header-text;
        }
    }

    &__media-logos {
        margin-left: 0;
        margin-top: $margin-one;
        
        @include tablet {
            margin-left: $margin-two;
        }
        @include tablet-and-desktop {
            margin-left: $margin-three;
        }
    }

    &__media-logo-link {
        @extend %link;
    }

    &__media-logo {
        margin-right: 2rem;
        height: 1.25rem;
        width: auto;
    }

    &__company-logo {
        @extend %band-site-logo;
        margin-left: auto;

        &--desktop-n-tablet {
            display: none;

            @include tablet-and-desktop {
                display: block;
            }
        }

        &--mobile {
            display: block;
            margin-top: $m-headline-margin-before;

            @include tablet-and-desktop {
                display: none;
            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 30rem;

        @include tablet-and-desktop {
            flex-direction: row;
            width: 70%;
            height: auto;
        }
    }

    &__info-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 9rem;
        min-width: 15rem;
        margin-bottom: $margin-two;

        @include tablet-and-desktop {
            margin-bottom: $no-margin;
        }
    }

    &__info-title {
        @include footer-body-text;
        margin: $no-margin;
    }

    &__info-address {
        @include footer-text;
        width: 11rem;
        margin: $no-margin;
    }

    &__info-email {
        @extend %link;
        @include footer-text;
        margin: $no-margin;
    }

    &__site-copy-right {
        @extend %site-copy-right;
        margin-top: $m-headline-margin-before;
        margin-bottom: $m-headline-margin-after;

        @include tablet-and-desktop {
            margin-top: $headline-margin-before;
            margin-bottom: $headline-margin-after;
        }
    }
}