// Desktop and tablet text styles.

$page-header-text-size: 3.75rem;
$page-header-line-height: 4.25rem;
$page-header-text-weight: 700;

$section-header-text-size: 2.25rem;
$section-header-line-height: 2.75rem;
$section-header-text-weight: 700;

$subheader-text-size: 1.5rem;
$subheader-line-height: 2rem;
$subheader-text-weight: 500;

$body-text-size: 0.875rem;
$body-line-height: 1.375rem;
$body-text-weight: 400;
$body-text-weight-bold: 700;

$footer-text-size: 0.875rem;
$footer-line-height: 1.25rem;
$footer-text-weight: 400;
$footer-text-weight-bold: 700;

$labels-buttons-text-size: 0.75rem;
$labels-buttons-line-height: 1.25rem;
$labels-buttons-text-weight: 400;
$labels-buttons-text-weight-bold: 700;

// Mobile text styles.

$m-page-header-text-size: 1.5rem;
$m-page-header-line-height: 2rem;
$m-page-header-text-weight: 700;

$m-section-header-text-size: 1.5rem;
$m-section-header-line-height: 2rem;
$m-section-header-text-weight: 700;

$m-subheader-text-size: 0.875rem;
$m-subheader-line-height: 1.375rem;
$m-subheader-text-weight: 600;

$m-body-text-size: 0.8125rem;
$m-body-line-height: 1.125rem;
$m-body-text-weight: 400;

$m-footer-text-size: 0.8125rem;
$m-footer-line-height: 1.125rem;
$m-footer-text-weight: 400;

$m-labels-buttons-text-size: 0.625rem;
$m-labels-buttons-line-height: 1.25rem;
$m-labels-buttons-text-weight: 700;

// Colors

$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;

$secondary-dark-black: #000000;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;

// Margin and padding.

$no-margin: 0;
$no-padding: 0;


// Screen brake points. 
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;