@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

.hero {
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;

    &__image {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-black;
        opacity: 50%;
        z-index: 1;
    }

    &__title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        color: $primary-white;
        left: $m-margin-side-offset;
        @include no-margin-padding;
        @include m-section-header-text;

        @include tablet {
            left: $t-margin-side-offset;
        }

        @include tablet-and-desktop {
            @include page-header-text;
        }
        
        @include desktop {
            left: $margin-side-offset;
        }
    }
}

.about {
    margin-left: $m-margin-side-offset;
    margin-right: $m-margin-side-offset;
    overflow: hidden;

    @include tablet {
        margin-left: $t-margin-side-offset;
        margin-right: $t-margin-side-offset;
    }

    @include desktop {
        margin-left: $margin-side-offset;
        margin-right: $margin-side-offset;
    }

    &__title {
        @extend %section-title;
    }

    &__content-margins {
        margin-left: 0;
        margin-right: 0;
        
        @include tablet {
            margin-left: $t-about-margin-offset;
            margin-right: $t-about-margin-offset;
        }

        @include desktop {
            margin-left: $about-margin-offset;
            margin-right: $about-margin-offset;
        }
    }

    &__image-box {
        overflow: hidden;
        width: 100%;
        height: 15rem;
        display: flex;
        align-content: end;
        justify-content: center;
        flex-wrap: wrap;

        @include tablet {
            height: 25rem;
        }

        @include desktop {
            height: 30rem;
            align-content: center;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__quote-text {
        @include m-quote-text;
        margin-right: $no-margin;
        margin-bottom: $no-margin;

        @include tablet {
            margin-right: 0;
        }

        @include desktop {
            @include quote-text;
            margin-right: 9rem;
        }
    }

    &__quote-author {
        @include m-quote-text;
        margin-top: $margin-half;

        @include tablet-and-desktop {
            @include body-bold-text;
        }
    }

    &__article-text-container {
        display: flex;
        flex-direction: column;

        @include tablet-and-desktop {
            flex-direction: row;
        }
    }

    &__article-title {
        @include m-subheader-text;
        margin-top: $m-headline-margin-before;
        margin-bottom: $margin-half;
        display: block;

        @include tablet-and-desktop {
            @include subheader-text;
            margin-top: $headline-margin-before;
            margin-bottom: $margin-one;
        }
    }

    &__article-text {
        @include m-body-text;
        width: 100%;

        @include tablet-and-desktop {
            @include body-text;
            width: 50%;
        }
    }

    &__article-text--margin {
        margin-right: 0rem;

        @include tablet-and-desktop {
            margin-right: $margin-one;
        }
    }
}

.gallery {
    background-color: $secondary-alabaster;
    overflow: hidden;

    &__margin-container {
        margin-left: $m-margin-side-offset;
        margin-right: $m-margin-side-offset;
        margin-bottom: 0;

        @include tablet {
            margin-left: $t-margin-side-offset;
            margin-right: $t-margin-side-offset;
        }

        @include desktop {
            margin-left: $margin-side-offset;
            margin-right: $margin-side-offset;
            margin-bottom: $margin-two;
        }
    }

    &__title {
        @extend %section-title;
    }
 
    &__picture-wall {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }

    &__picture-wall-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;

        @include tablet-and-desktop {
            flex-direction: row;
        }
    }

    &__picture-wall--column-margin {
        margin-right: $margin-one;
    }

    &__picture-wall--row-margin {
        margin: 0;
        
        @include tablet-and-desktop {
            margin-bottom: $margin-one;
        }
    }
    
    &__picture-box {
        width: 100%;
        height: 100%;
        margin-bottom: $margin-one;

        @include tablet-and-desktop {
            margin-bottom: $no-margin;
        }
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.comments {
    @include home-page-margins;
    
    &__title {
        @extend %section-title;
    }

    &__margin-wrapper {
        display: flex;
        flex-direction: column;
        margin: $no-margin;
        align-items: stretch;

        @include tablet {
            margin-left: $t-about-margin-offset;
            margin-right: $t-about-margin-offset;
        }

        @include desktop {
            margin: 0rem auto;
            width: 45%;
        }
    }

    &__form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__profile {
        display: flex;
        overflow: hidden;
        background-color: $secondary-mercury;
        height: $m-avatar-height;
        width: $m-avatar-width;
        flex-grow: 0;
        flex-shrink: 0;
        border-radius: 50%;
        justify-content: center;
        align-content: center;
        margin: $no-margin;

        @include tablet-and-desktop {
            height: $avatar-height;
            width: $avatar-width;
        }
    }

    &__profile--form {
        margin-right: $margin-one;
        margin-top: $margin-one-half;

        @include tablet-and-desktop {
            margin-right: $margin-half;
        }
    }

    &__form-fields{
        width: 100%;
    }

    &__profile-picture {
        height: inherit;
        width: auto;
    }

    &__form-label {
        @extend %labels;
        display: block;
        margin-bottom: $margin-quarter;
    }

    &__form-label--top-margin {
        margin-top: $margin-one;
    }

    &__form-user-name {
        @extend %input-control;
        width: 100%;
        height: $m-avatar-height;
        box-sizing: border-box;
        padding: $no-padding $padding-three-quarter;
        margin-right: auto;

        @include tablet-and-desktop {
            height: $avatar-height;
            padding: $no-padding $padding-one;
        }
    }

    &__form-user-comment {
        @extend %input-control;
        resize: none;
        width: 100%;
        min-height: $m-comment-box-height;
        box-sizing: border-box;
        padding: $padding-half $padding-three-quarter;
        
        @include tablet-and-desktop {
            min-height: $comment-box-height; 
            padding: $padding-three-quarter $padding-one;
        }
    }

    &__form--error {
        border-color: $error-state;
    }

    &__form-submit-button {
        @extend %button;
        display: block;
        height: $margin-two-half;
        width: 100%;
        min-width: 9.375rem;
        padding: 0rem $padding-two;
        margin-top: $margin-one;

        @include tablet-and-desktop {
            width: 9.375rem;
            margin-top: $margin-one-half;
            margin-left: auto;
        }
    }

    &__horizontal-line {
        @extend %horizontal-line;
        margin-top: $margin-one;
        margin-bottom: $margin-one;
    }

    &__comment {
        display: flex;
        width: 100%;
        overflow: hidden;
    }

    &__profile--comment {
        margin-right: $margin-one;

        @include tablet-and-desktop {
            margin-right: $margin-half;
        }
    }

    &__comment-content {
        width: 100%;
        overflow: hidden;
    }

    &__comment-header {
        display: flex;
        margin-bottom: $margin-half;
        justify-content: space-between;
    }

    &__comment-user-name {
        @include m-body-bold-text;
        margin: 0rem;

        @include tablet-and-desktop {
            @include body-bold-text;
        }
    }

    &__comment-date {
        @include m-body-text;
        color: $primary-silver;
        margin: 0rem;

        @include tablet-and-desktop {
            @include body-text;
        }
    }

    &__text {
        @include m-body-text;
        margin: 0rem;

        @include tablet-and-desktop {
            @include body-text;
        }
    }

    &__like-button {
        background-image: url("../assets/icons/icon-like.svg");
        background-repeat: no-repeat;
        background-position: left;
        background-color: $secondary-alabaster;
        border: $input-text-boarder-thickness solid $primary-silver;
        border-radius: $margin-half;
        height: $margin-one-half;
        width: 2.5rem;
        text-align: right;
        text-justify: center;

        &:hover {
            background-color: $secondary-mercury;
            border: 1px solid $primary-black;
        }
    }
}