@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

.header {
    background-color: $primary-black;
    color: $primary-white;
    overflow: hidden;
}

.hero {
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;

    &__image {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-black;
        opacity: 50%;
        z-index: 1;
    }

    &__title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: $margin-side-offset;
        z-index: 2;
        color: $primary-white;
        @include page-header-text;
        @include no-margin-padding;

        @include tablet {
            left: $t-margin-side-offset;
        }

        @include mobile {
            left: $m-margin-side-offset;
            @include m-page-header-text;
        }
    }
}

.about {
    margin-left: $margin-side-offset;
    margin-right: $margin-side-offset;
    overflow: hidden;

    @include tablet {
        margin-left: $t-margin-side-offset;
        margin-right: $t-margin-side-offset;
    }

    @include mobile {
        margin-left: $m-margin-side-offset;
        margin-right: $m-margin-side-offset;
    }

    &__title {
        @include section-header-text;
        margin-top: $headline-margin-before;
        margin-bottom: $headline-margin-after;

        @include mobile {
            @include m-section-header-text;
            margin-top: $m-headline-margin-before;
            margin-bottom: $m-headline-margin-after;
        }
    }

    &__content-margins {
        margin-left: $about-margin-offset;
        margin-right: $about-margin-offset;

        
        @include tablet {
            margin-left: $t-about-margin-offset;
            margin-right: $t-about-margin-offset;
        }
    
        @include mobile {
            margin-left: 0;
            margin-right: 0;
        }
    }

    // TODO: image height and width. 
    &__image-box {
        overflow: hidden;
        width: 100%;
        height: 450px;
        display: flex;
        align-content: center;
        justify-content: center;
    
        @include mobile {
            width: 100%;     
            align-self: center;
            justify-self: center;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__quote-text {
        margin-right: 9rem;
        @include quote-text;
    }
}

.gallery {
    overflow: hidden;
}