@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

.hero {
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        align-items: center;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-black;
        opacity: 50%;
        z-index: 1;
    }

    &__text {
        @include m-subheader-text;
        position: absolute;
        top: 10%;
        transform: translateY(-50%);
        z-index: 2;
        color: $primary-white;
        left: $m-margin-side-offset;
        margin: $no-margin;

        @include tablet {
            left: $t-margin-side-offset;
            top: 20%;
        }

        @include tablet-and-desktop {
            @include subheader-text;
        }
        
        @include desktop {
            left: $margin-side-offset;
            top: 35%;
        }
    }

    &__title {
        @include m-section-header-text;
        position: absolute;
        top: 25%;
        transform: translateY(-50%);
        z-index: 2;
        color: $primary-white;
        left: $m-margin-side-offset;
        margin: $no-margin;
        width: 65%;

        @include tablet {
            left: $t-margin-side-offset;
            width: 55%;
            top: 45%;
        }

        @include tablet-and-desktop {
            @include page-header-text;
        }
        
        @include desktop {
            left: $margin-side-offset;
            width: 40%;
            top: 50%;
        }
    }

    &__song {
        position: absolute;
        top: 45%;
        left: $m-margin-side-offset;
        z-index: 2;
        width: 80%;

        @include tablet {
            left: $t-margin-side-offset;
            top: 65%;
            width: 50%;
        }

        @include desktop {
            top: 50%;
            left: auto;
            right: 10%;
            transform: translateY(-50%);
            z-index: 2;
            width: 30%;
        }
    }
}

.shows {
    @include home-page-margins;

    @include desktop {
        display: flex;
    }

    &__title {
        @extend %section-title;
        margin-bottom: $no-margin;

        @include desktop {
            margin-right: 10rem;
        }
    }

    &__table {
        justify-self: right;
        width: 100%;
        margin-bottom: $margin-one;

        @include tablet {
            margin-top: $margin-two;
            margin-bottom: $margin-one;
        }

        @include desktop {
            margin-top: $margin-three;
            margin-bottom: $margin-two;
        }
    }

    &__label {
        @extend %labels;
        display: block;
        margin-top: $margin-one;

        @include tablet-and-desktop {
            display: none;
        }
    }

    &__table-header {
        display: none;
        padding-left: $margin-half;
        padding-right: $margin-half;

        @include tablet-and-desktop {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-left: $margin-one;
            padding-right: $margin-one;
        }
    }

    &__column-header {
        @extend %labels; 
    }

    &__buy-ticket-form {
        padding-top: $margin-one-half;
        padding-bottom: $margin-one-half;
        padding-left: $margin-half;
        padding-right: $margin-half;

        &:hover {
            background-color: $secondary-alabaster;
        }

        @include tablet-and-desktop {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            padding-top: $margin-one-half;
            padding-bottom: $margin-one-half;
            padding-left: $margin-one;
            padding-right: $margin-one;
        }
    }

    &__buy-ticket-form--selected {
        background-color: $secondary-mercury;
    }

    &__show-info-text {
        @include m-body-text;
        margin: 0rem;

        @include tablet-and-desktop {
            @include body-text;
        }
    }

    &__show-info-text-bold {
        @include m-body-bold-text;
        margin: 0rem;

        @include tablet-and-desktop {
            @include body-bold-text;
        }
    }

    &__buy-ticket-button {
        @extend %button;
        display: block;
        height: $margin-two-half;
        width: 100%;
        min-width: 9.375rem;
        padding: 0rem $padding-two;
        margin-top: $margin-one;

        @include tablet-and-desktop {
            margin: $no-margin;
        }
    }
    
    &__horizontal-line {
        @extend %horizontal-line;
    }
}